body {
    background-image: url("images/background.jpg");
    width: auto;
    background-position: center;
    display: block;
    background-position: 0;
    background-size: 100%;
    background-repeat: repeatt;

}

div {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 3rem;
    margin-top: 45%;
    margin-left: 10%;
}

#l1 {
    margin-top: 48%;
}

#l2 {

}

#l3 {

}

#l4 {

}

#l5 {

}

#l6 {

}

#l7 {

}

#l8 {

}

#l9 {

}

#l10 {

}

#l11 {

}

#l12 {

}

#l13 {

}

#l14 {

}

